:root {
  --black: #141c27;
  --radial: linear-gradient(56deg, #172030 0%, #292b2e 100%);
  --boxShadow: 9px 9px 16px rgba(0, 0, 0, 0.24),
    -4px -4px 16px rgba(73, 73, 73, 0.4);
  --stroke: #272829;
  --pink: #e046d7;
  --green: #3ab499;
  --bg: #172030;
  --trailColor: #e046d733;
  --white: #ffffff;
  --red: #f94409;
  --button: #172030;
  --button: normal 500 1rem/1rem Roboto;
  --title: normal 700 1rem/1.75rem Roboto;
  --time: 400 4rem/4.75rem Roboto;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg);
  color: var(--white);
  overflow: hidden;
}
